Problem 1

In [1]:
def char_counter(str1):
    dict = {}
    for x in str1:
        keys = dict.keys()
        if x in keys:
            dict[x] += 1
        else:
            dict[x] = 1
    return dict
print(char_counter('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

Problem 2

In [2]:
d = {1:12, 3:14, 5:10, 6: 16, 9:20, 12:30}
def is_key_present(x):
  if x in d:
      print('Key present')
  else:
      print('Key is not present')
is_key_present(2)
is_key_present(9)

Key is not present
Key present

Problem 3

In [3]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 1,5,7,3
List :  ['1', '5', '7', '3']
Tuple :  ('1', '5', '7', '3')

Problem 4

In [4]:
from datetime import date
f_date = date(1999, 1, 14)
l_date = date(2023, 3, 30)
delta = l_date - f_date
print(delta.days, 'days')

8841 days

Problem 5

In [12]:
def equation(x,y):
  val = (x+y)
  ans = val*val
  return ans
x=3
y=3
print('(',x,'+',y,')^ 2 =', equation(x,y))

( 3 + 3 )^ 2 = 36

Problem 6

In [13]:
p_amount = 10000
interest_rate = 3.5
years = 7
future_value = p_amount*((1+(0.01*interest_rate)) ** years)
print(round(future_value,2))

12722.79

Problem 7

In [24]:
def remove_duplicates(nums):
    for i in range (len(nums)-1, 0, -1):
        if nums[i] == nums[i-1]:
            del nums[i-1]
    print('The list of unique numbers: ', nums)       
    print('Length of the unique list: ', len(nums))
    string=''
    return string

print(remove_duplicates([0,0,1,1,2,2,3,3,4,4,4]))

The list of unique numbers:  [0, 1, 2, 3, 4]
Length of the unique list:  5

Problem 8

In [28]:
import operator
d = {1: 2,  5: 6, 3: 4, 9: 10, 7: 8}
print('Original version: ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Ascending order: ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Descending order: ',sorted_d)

Original version:  {1: 2, 5: 6, 3: 4, 9: 10, 7: 8}
Ascending order:  [(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]
Descending order:  {9: 10, 7: 8, 5: 6, 3: 4, 1: 2}

Problem 9

In [32]:
d = {0:10, 1:20}
print('Original version: ',d)
x = int(input('Enter a new key:'))
y = int(input('Enter value for the new key: '))
d.update({x:y})
print('The new version', d)

Original version:  {0: 10, 1: 20}
Enter a new key:4
Enter value for the new key: 40
The new version {0: 10, 1: 20, 4: 40}

Problem 10

In [34]:
import pandas as pd
import numpy as np 

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
              'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index= Sl_no)
print(df)

      name  score  attempts qualify
1     Arif   12.5         1     yes
2     Asir    9.0         3      no
3     Arik   16.5         2     yes
4     Anis    NaN         3      no
5     Anil    9.0         2      no
6   Ashish   20.0         3     yes
7    Anahi   14.5         1     yes
8     Alia    NaN         1      no
9    Alvin    8.0         2      no
10    Asim   19.0         1     yes